*{
    font-family: 'Inter';
}

.hero {
    background-color: #334155;
}



.flex {
    display: flex;
}

        .justify-center {
            justify-content: center;
        }

        .space-x-4 > * {
            margin-right: 1rem;
        }

        .space-x-4 > *:last-child {
            margin-right: 0;
        }

        .flex-wrap {
            flex-wrap: wrap;
        }

        .border-2 {
            border-width: 2px;
            border-style: solid;
        }

        .rounded-full {
            border-radius: 9999px;
        }

        .mb-2 {
            margin-bottom: 0.5rem;
        }

        .text-xs {
            font-size: 0.75rem;
        }

        /* Define color styles for each programming language */
        .lang-html {
            border-color: #3b82f6;
            color: #3b82f6;
        }

        .lang-css {
            border-color: #10b981;
            color: #10b981;
        }

        .lang-js {
            border-color: #f59e0b;
            color: #f59e0b;
        }

        .lang-bootstrap {
            border-color: #8b5cf6;
            color: #8b5cf6;
        }

        .lang-figma {
            border-color: #ec4899;
            color: #ec4899;
        }

        .lang-sql {
            border-color: #ef4444;
            color: #ef4444;
        }

        .lang-php {
            border-color: #6366f1;
            color: #6366f1;
        }

        .lang-golang {
            border-color: #f59e0b;
            color: #f59e0b;
        }

        .lang-cpp {
            border-color: #f9fafb;
            color: #f9fafb;
        }

        .footer {
            background-color: #334155;
            color: white;
            padding: 30px 0;
        }

        .footer a {
            color: white;
        }

        .footer a:hover {
            color: #ffc107;
        }
